@model IEnumerable<FootballPrime_Website.Models.PostType>

@foreach (var item in Model)
{
    <li><a href="@Url.Action("PostWithType","Post",new { id = item.PostTypeID})">@item.PostTypeName</a></li>
}
