@using (Html.BeginForm("SearchResult", "Post", FormMethod.Post))
{
    <div class="input-group">
        <input type="text" class="form-control" name="Search" placeholder="Bạn tìm gì ?">
        <span class="input-group-btn">
            <button class="btn btn-secondary" type="submit">Tìm</button>
        </span>
    </div>
}