<link href="~/css/portfolio-item.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutProduct.cshtml";
}

<h1 class="my-4">
    Liên hệ chúng tôi
</h1>

<!-- Portfolio Item Row -->
<div class="row">

    <div class="col-md-8">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.562624490871!2d106.69192951416032!3d10.76815229232713!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f3e0710a019%3A0x91ecdb52d1cf3b2!2zVG_DoCBTb-G6oW4gQsOhbyBUaOG7gyBUaGFvIFRwSENN!5e0!3m2!1svi!2s!4v1545462427475" width="730" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <div class="col-md-4">
        <h3 class="my-3">Địa chỉ</h3>
        <p>Hẻm 40 Bùi Viện, Phường Phạm Ngũ Lão, Quận 1, Hồ Chí Minh</p>
        <h3 class="my-3">Thông tin</h3>
        <ul>
            <li>Giờ hoạt động: 8:00 sáng - 6:00 chiều</li>
            <li>Tổng đài: 1900 1506</li>
            <li>Email:footballprime@gmail.com</li>
            <li>Báo cáo sự cố: Error_FootballPrime@gmai.com</li>
        </ul>
    </div>
    
</div>
<div style="margin-top:30px;"></div>
<!-- /.row -->
